body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }

  .title {
    font-size: 4rem;
    color: #ff0099;
    background-image: linear-gradient(315deg, #ff0099 0%, #493240 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .subtitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .score {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  #gameCanvas {
    border: 1px solid #000;
  }

  .game-over {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('venda.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #fff; /* Make the font white */
  }

  .hidden {
    display: none;
  }

  button {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    background-color: #0080ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #0052cc;
  }

  .game-over-button {
    font-size: 1.2rem;
    padding: 10px 20px;
    margin-top: 10px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
  }

  .game-over-button:hover {
    background-color: #0056B3;
  }
